@import url("https://fonts.googleapis.com/css2?family=Hachi+Maru+Pop&display=swap");

:root {
  --backgroundSize: 300px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #d3d3d3;
  height: 100vh;
  width: 100%;
  user-select: none;
  font-family: "Hachi Maru Pop";

  background-image: url(snow.jpg);
  background-size: var(--backgroundSize);
  animation: letItSnow 5s linear infinite;
}

.text {
  text-align: center;
  font-size: 35px;
  color: #333;
}

h1 {
  line-height: 100px;
}

h2 {
  margin-top: 40vh;
}

#wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#root {
  display: flex;
  flex-wrap: wrap;
  width: 480px;
  height: 480px;
}

#error {
  display: none;
}

@keyframes letItSnow {
  from {
    background-position: 0 0;
  }
  to {
    background-position: var(--backgroundSize) var(--backgroundSize);
  }
}

@media (max-width: 630px) {
  #error,
  h2 {
    display: inline-block;
  }
  #root,
  h1 {
    display: none;
  }
}
